.right-buttons{
  border: solid red;
  height: 20em;
  width: 15em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.number-grid{
  border: solid red;
  height: 20em;
  width: 15em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.standard-button{
  height: 5em;
  width: 5em;
  margin: 0.42em;
}