.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.display{
  display: flex;
  justify-content: center;
  border: medium solid black;
  flex-direction: row;
}
.icons{
  /* border: medium solid gold; */
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
.notations{
  /* border: medium solid aqua; */
  display: flex;
}



.keypad{
  justify-content: center;
  display:flex;
  flex-direction: row;
  min-width: 100%;
}
.number-grid{
  border: medium solid red;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(3, 100px);
}
.right-buttons{
  border: medium solid green;
  display: flex;
  min-height: 50vh;
  flex-flow: column wrap;
  align-content: stretch;
  justify-content: space-evenly;
}
.left-buttons{
  display: flex;
  min-height: 50vh;
  border: medium solid pink;
  flex-direction: column;
  justify-content: space-evenly;
}
.standard-button{
  padding: 5vw x 5vw;
}